* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}

body {
    background-color: #b0c4de;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.search-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: #b0c4de;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.search-window { 
    width: 350px; 
    height: auto !important; 
    min-height: 250px; 
}

.search-content { 
    align-items: center; 
    gap: 15px; 
    text-align: center; 
}

#cityInput {
    background: #fff;
    border: 4px solid #4a4a4a;
    padding: 10px;
    font-size: 26px;
    width: 90%;
    outline: none;
    color: #4a4a4a;
    text-align: left;
}

#searchBtn {
    background-color: #fdfd96;
    border: 4px solid #4a4a4a;
    padding: 5px 25px;
    font-size: 26px;
    cursor: pointer;
    box-shadow: 4px 4px 0px #4a4a4a;
}

#searchBtn:active {
    box-shadow: 0px 0px 0px #4a4a4a;
    transform: translate(2px, 2px);
}

.retro-window {
    width: 350px;
    height: 350px;
    background-color: #a7bed3;
    border: 4px solid #4a4a4a;
    box-shadow: 6px 6px 0px #4a4a4a;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border-bottom: 4px solid #4a4a4a;
    background-color: #a7bed3;
}

.title-text { 
    font-size: 24px; 
    color: #4a4a4a; 
}

.window-controls { 
    display: flex;
    gap: 6px; 
}

.control-circle { 
    width: 14px; 
    height: 14px; border-radius: 50%; 
    border: 2px solid #4a4a4a; 
}

.yellow { 
    background-color: #fdfd96; 
}

.blue { 
    background-color: #84b6f4; 
}

.pink { 
    background-color: #ff6961; 
}

.window-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(to bottom, #c4d4e6 0%, #a6c1d7 100%);
    color: #fff;
    text-shadow: 2px 2px 0px #4a4a4a;
    font-size: 24px;
}

.main-stats-group { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 15px; 
}

.temp { 
    font-size: 70px; 
}

.weather-icon {  
    width: 90px; 
    height: 120px; 
    image-rendering: pixelated; 
    padding: 2px;
    margin-left: 75px;
}

.retro-btn-small {
    background: #a7bed3;
    border: 3px solid #4a4a4a;
    padding: 5px 15px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'VT323';
}